CUTLINE_MODE=local
GRAFANA_MCP_URL=
GRAFANA_MCP_TOKEN=
GRAFANA_MCP_USE_GOOGLE_ID_TOKEN=false
GRAFANA_MCP_AUDIENCE=
GRAFANA_PROMETHEUS_DATASOURCE_UID=
GRAFANA_LOKI_DATASOURCE_UID=
GRAFANA_PROMETHEUS_PUSH_URL=
GRAFANA_PROMETHEUS_USER=
GRAFANA_LOKI_PUSH_URL=
GRAFANA_LOKI_USER=
GRAFANA_TELEMETRY_TOKEN=
CUTLINE_ACTION_URL=
CUTLINE_ACTION_TOKEN=
GOOGLE_CLOUD_PROJECT=
GOOGLE_CLOUD_LOCATION=us-central1
